*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;

    background:#202124;
    color:white;
    font-family:Arial;
}

button{
    padding:15px 30px;
    border:none;
    border-radius:10px;
    font-size:18px;
}